@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
.bg{
 --tw-bg-opacity: 1;
 background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1)) /* #f9fafb */;;
}